# Dependencies
/node_modules
/functions/node_modules

# Firebase
.firebase/
database-debug.log
firestore-debug.log
storage-debug.log
firebase-debug.log
*.log

# Emulators
.firebaserc # Optional: if you have sensitive project aliases
emulators.log
*.emulatelog
*.jar

# Build output
dist
build

# System files
.DS_Store
Thumbs.db